* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  padding: 20px;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: yellowgreen;
}

.card img {
  width: 100%;
}